<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
  <title>Event</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<div layout:fragment="content">
  <blockquote>
    <h1 th:text="${event.name}">Greeting Show greeting</h1>
  </blockquote>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><i class="fas fa-map-marker-alt"></i> Venue</th>
      <th><i class="fas fa-calendar"></i> Date</th>
      <th><i class="fas fa-clock"></i> Time</th>
    </tr>
    </thead>
    <tbody>
      <td> 
      <a th:href="@{/venues/{num}(num=${venue.id})}" th:text="${venue.name}">My Venue</a>
      </td>
      <td th:text="${{event.date}}">Event date</td>
      <td th:text="${{event.time}}">Event time</td>

    </tbody>
</table>
	<form th:method="get" th:action="@{/events/postTweet}" th:object="${status}">
	    <label for="tweet" >Share here:</label>
	    <input class="form-control" type="text" name="tweet" id="tweet" placeholder="Say something:">
	    <button class="btn btn-primary" type="submit" >Tweet</button>
	    <div style="display:none">Your tweet was posted</div>
	    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	    <script>
	    $('button').click(function () {$('div').css('display', 'block');});
	    </script> 
  	</form>
  <blockquote>
    <p th:text="${event.description}">Event Description</p>
  </blockquote>
  
  <script>
   var longitude = [[${event.venue.longitude}]];
   var latitude = [[${event.venue.latitude}]];
   </script>
  
<form th:action="${(#mvc.url('EC#deleteEvent').arg(0, event.id)).build()}" th:method="delete" sec:authorize="isAuthenticated()">
  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
</form>

<div id="map" style='height: 450px;'>   </div>
   <script th:inline="javascript">
   mapboxgl.accessToken = 'pk.eyJ1IjoibWlhbzYyMCIsImEiOiJjbDJxYjY3bHEwNHppM2NzMHVpYWtzOTN0In0.U9krNPrlw9ltex1gjizNRw';
   const map = new mapboxgl.Map({
   container: 'map',
   style: 'mapbox://styles/mapbox/streets-v11',
   center: [longitude, latitude],
   zoom: 9});
   marker = new mapboxgl.Marker().setLngLat([longitude,latitude]).setPopup(
			new mapboxgl.Popup({ offset: 25 }).setHTML("<h3>" + [[${event.name}]] + "" + "</h3><p> Starts at:" + [[${event.time}]] + "" + "</p>")).addTo(map);
 </script>

</div>
</body>
</html>
